html {
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

h1{
  text-align: center;
}

#calculator {
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  background-color: gray;
}

#display {
  width: auto;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

#values {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: end;
}

#holding {
  font-size: 20px;
  height: 25px;
}

#entry {
  font-size: 40px;
}

#sign {
  font-size: 20px;
  width: 30px;
  text-align: center;
}

#operator {
  flex-basis: 30px;
  text-align: center;
}

#buttons {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-content: centre;
  padding: 5px;
}

.row {
  display: flex;
}

button {
  height: 80px;
  width: 80px;
  flex: 1;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.number{
  background-color: antiquewhite;
}

.edit {
  background-color: lightcyan;
}

.sign {
  background-color: lightskyblue;
}